{% extends "layout.html" %}

{% block title %}HACK. THIS. SITE{% endblock %}

{% block content %}

{{super()}}

{% if login == "Failed" %}
<div id="intro-headers">
    <h1 class="pink">
        HACK
    </h1>
    <h1 class="blue">
        THIS
    </h1>
    <h1 class="pink">
        SITE
    </h1>
</div>
{% else %}
<div id="intro-headers">
    <h1 class="pink" id="first-header">
        HACK
    </h1>
    <h1 class="blue" id="second-header">
        THIS
    </h1>
    <h1 class="pink" id="third-header">
        SITE
    </h1>
</div>
{% endif %}

{% if login == "Failed" %}
<h2>Incorrect Username or Password</h2>
{% endif %}

{% if login == "Failed" %}

<div id="form" class="flexcol">
    <form action="/verify-login" method="post" id="login-form" class="flexcol">
        <label for="username">Username</label>
        <input name="username"></input>
        <label for="password">Password</label>
        <input name="password" type="password"></input>
        <input type="submit" value="Submit" class="submit">
    </form>
    <div id="response"></div>

    <img id="logo" src="static/seshlogo.png">
</div>

{% else %}

<div id="upgroup">
    <div id="form" class="flexcol">
        <form action="/verify-login" method="post" id="login-form" class="flexcol">
            <label for="username">Username</label>
            <input name="username"></input>
            <label for="password">Password</label>
            <input name="password" type="password"></input>
            <input type="submit" value="Submit" class="submit">
        </form>
        <div id="response"></div>
    </div>

    <img id="logo" src="static/seshlogo.png">
</div>

{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}