<!doctype html>
{% extends "bootstrap/base.html" %}

<html>
    {% block head %}
        <head>
            {% block styles %}
                {{super()}}
                <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            {% endblock styles %}
            <title>{% block title %}{% endblock %}</title>
        </head>
    {% endblock head %}
    {% block body %}
        <body>
            <div id="wrapper">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </body>
        {% block footer %}
            <footer>
            &copy; Copyright 2021 by <a href="https://shefesh.com">Sheffield Ethical Student Hackers</a>.
            </footer>
        {% endblock footer %}
    {% endblock body %}
</html>